.onlinekurs {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background-color: gray; */
    padding: 20px 50px;
}

.onlinekurs>p {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    color: #070707;
}

.div_kurslar {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.online_kurs {
    width: 250px;
    height: 360px;

    background: #ffffff;
    /* border: 0.1px solid #000000; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 5px;
    background-size: cover;
}

.video_link {
    width: 200px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(#f7b51d, #333); */
    background: #ffe100;

    border-radius: 8px;
    color: white;
    border: none;
    text-decoration: none;
}

/* media responsiv */

@media (max-width: 500px) {
    .online_kurs {
        width: 160px;
        height: 210px;
        padding: 20px 0px;
        margin: 8px 0;

    }


    .onlinekurs {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        /* background-color: gray; */
        padding: 20px 20px;
    }

    .online_kurs>a {
        width: 95px;
        height: 30px;
        font-size: 14px;
    }

    .onlinekurs>p {
        font-weight: 400;
        font-size: 30px;
        line-height: 28px;

        color: #070707;
    }

    .video_link {
        width: 280px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(#f7b51d, rgb(125, 101, 103));

        border-radius: 8px;
        color: white;
        border: none;
        text-decoration: none;
    }
}

@media (max-width: 440px) {
    .online_kurs>a {
        width: 95px;
        height: 30px;
        font-size: 14px;
    }
}

@media (max-width: 414px) {
    .online_kurs {
        width: 174px;
        height: 210px;
    }


}

@media (max-width: 412px) {
    .online_kurs {
        width: 174px;
        height: 210px;
    }


}

@media (max-width: 400px) {
    .online_kurs>a {
        width: 95px;
        height: 30px;
        font-size: 14px;
    }
}


@media (max-width: 390px) {
    .online_kurs {
        width: 168px;
    }


}

@media (max-width: 375px) {
    .online_kurs {
        width: 155px;
    }
}

@media (max-width: 360px) {
    .online_kurs {
        width: 155px;
    }
}

@media (max-width: 350px) {
    .online_kurs {
        width: 125px;
        height: 170px;
    }

    .online_kurs>a {
        width: 95px;
        height: 30px;
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .online_kurs {
        width: 135px;
    }
}