.msg {
  width: 70px;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  right: 40px;
  bottom: 62px;
  z-index: 4;
}


.msg_btn {
  width: 52px;
  height: 52px;
  border: none;
  display: flex;
  cursor: pointer;
  font-size: 30px;
  color: rgb(54, 54, 54);
  align-items: center;
  justify-content: center;
  background: var(--bg-gold);
  border-radius: 50%;
  transition: 0.5s;
  position: relative;
  background-color: rgb(192, 169, 0);
  transform: rotate(-115deg);
}



.msg_show::before,
.msg_show::after {
  content: "";
  position: absolute;
  height: 58px;
  width: 110%;
  background-color: rgb(255, 225, 0);
  border-radius: 50%;
  z-index: -1;

}

.msg_show::before {
  animation: pul 2.2s ease-out infinite;
}

.msg_show::after {
  animation: pul 2.2s 1s ease-out infinite;
}

.msg_show>svg {
  animation: call 0.500s 1s ease-out infinite alternate;
}


/* callCenter */

.Background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  display: block;
  background-color: rgba(0, 0, 0, 0.525);
}

.MsgNone {
  display: none;
}

.callCenterMsg {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.callCenter {
  width: 300px;
  border: 1px solid rgb(192, 169, 0);
  background-color: rgba(255, 255, 255, 0.831);
  backdrop-filter: blur(3px);
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  border-radius: 40px 40px 40px 40px;
  overflow: hidden;
}

.callCenter p {
  text-align: center;
  font-size: 18px;
}

.callCenter_img {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
  border-radius: 50%;
  overflow: hidden;
}

.callCenter_img>img {
  width: 100%;
  height: 100%;
}


@keyframes call {
  from {
    transform: rotate(20deg);

  }


}

@keyframes pul {
  100% {
    transform: scale(1.4);
    opacity: 0.1;
  }
}


/* -------Media------------ */
@media screen and (max-width: 720px) {
  .msg {
    width: 55px;
    height: 200px;
    right: 30px;
    bottom: 40px;
  }

  .Back_To-Top {
    right: 22px;
  }


  .msg_result {
    height: 130px;
  }

  .msg_btn {
    width: 45px;
    height: 45px;
  }

  .msg_show::before,
  .msg_show::after {
    height: 51px;
  }

  .msg_show svg {
    font-size: 23px;
  }

  /* .msg_result>button {
    width: 38px;
    height: 38px;
    font-size: 30px;
  } */
}