nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 65px;
  font-family: sans-serif;
  background: #ffd42d;
  overflow: hidden;
  /* background: linear-gradient(254.2deg, #00dbde 0%, #121c43 108.49%); */
}

nav .logo {
  display: flex;
  align-items: flex-end !important;
  justify-content: space-between;
  color: white;
  cursor: pointer;
}

.logo>img {
  width: 30px;
  height: 30px;
  margin-right: 11px;
}



.lincs {
  width: 570px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_btns {
  height: auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: rgb(255, 255, 255);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;

}

.call_icon {
  display: none;
}

.lincs>a {
  height: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;

}

.register-Nav {
  padding: 2px 12px;
  font-size: 15px;
  border: none;
  background-color: rgb(255, 255, 255);
  color: #000000;
  cursor: pointer;
  border-radius: 10px;
}

.register-person {
  padding: 2px 12px;
  font-size: 15px;
  border: none;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
}

.close,
.hamburger_bar {
  display: none;
}

.mobile_con {
  display: none;
}


.back_none {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.308);
}

.GrMenu {
  display: none;
}

.btns_nav {
  background-color: #ffd42d;
  padding: 5px 12px;
  display: flex;
  flex-direction: column;
}

.btns_nav button a {
  text-decoration: none;
  color: #000000;

}

.btns_nav button {
  margin: 5px 0;
  display: flex;
  font-size: 17px;
  justify-content: flex-start;
  border: none;
  color: #000000;
  background-color: transparent;
  cursor: pointer;
}

.btns_nav button:focus {
  color: #ff0000;
}



/* medya */

@media (max-width: 1024px) {
  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    font-family: sans-serif;
  }


}

@media (max-width: 768px) {
  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
  }

  .lincs {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav_btns {
    height: auto;
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    color: #ffffff;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
  }



  .lincs>a {
    height: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 29px;
    color: #ffffff;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
  }


  nav>.profil {
    display: none;
  }
}

@media screen and (max-width:640px) {
  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    font-family: sans-serif;
    background: #ffd42d;
    overflow: hidden;
    /* background: linear-gradient(254.2deg, #00dbde 0%, #121c43 108.49%); */
  }

  .close,
  .hamburger_bar {
    width: 190px;
    height: 100vh;
    background: #ffd42d;
    border-top: 1px solid rgba(180, 180, 180, 0.724);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 60px;
    position: fixed;
    right: 0;
    transition: all .5s;
    z-index: 6;
  }

  .close {
    transition: all .5s;
    padding: 10px;
    transform: translateX(100%);
  }

  .close .btns_nav {
    opacity: 0;
  }

  .GrMenu {
    width: 45px;
    height: 30px;
    font-size: 25px;
    margin-left: 6px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: 0.5s;


  }

  .GrMenu>svg {
    font-size: 35px;
    transform: rotate(45deg);
    color: #ffffff;

  }

  .GrMenu>img {
    width: 30px;
  }





  .hamburger_bar {
    display: block;
  }

  .hamburger {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
    display: block;
  }

  .nav_btns {
    display: none;
  }

  .lincs a {
    display: none;

  }

  .lincs {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}