.FeatureTitle {
	text-align: center;
	font-size: clamp(1.3rem, 13vw, 3.1rem);
	letter-spacing: 0.4rem;
	/* margin: auto; */
}

.Containers {
	width: 100%;
	padding: 0px 50px 30px 50px;
	margin-bottom: 20px;
}


.FeatureWrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 4rem;
	grid-gap: 3rem;
}



.FeatureColumn {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background: #f3f3f3;
	padding: 10px;
	box-shadow: 0 0 32px 8px #d0d0d0;
	border-radius: 20px;
}

.FeatureImageWrapper {
	margin-bottom: 1rem;
	border-radius: 50%;
	border: 2px solid #000;

	padding: 30px;
}

.FeatureImageWrapper svg {
	font-size: 3rem;
}

.FeatureName {
	font-weight: 600;
	font-size: 1.3rem;
	letter-spacing: 2px;

}


.FeatureText {
	margin: 1rem 0 auto;
	text-align: center;
	font-size: 0.9rem;
	line-height: 1.73;
	letter-spacing: 0.5px;
	color: #626881;
}


@media screen and (max-width: 1100px) {
	.FeatureWrapper {
		grid-template-columns: repeat(2, 1fr);
		grid-row-gap: 3rem;
	}
}


@media screen and (max-width: 568px) {
	.FeatureWrapper {
		grid-template-columns: repeat(1, 1fr);
	}

	.FeatureImageWrapper svg {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 960px) {
	.Container {
		padding: 0 30px;
	}
}

@media screen and (max-width: 768px) {
	.FeatureText {
		display: none;
	}

	.Containers {
		width: 100%;
		padding: 0px 20px 30px 20px;
		margin-bottom: 0px;
	}

	.FeatureName {
		font-weight: 400;
		font-size: 1.2rem;
		letter-spacing: 1.3px;
	}
}