.F_box {
    color: #fff;
    background: linear-gradient(to bottom, #202b58e8 1%, #000000 99%);
}

.Footer_cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.footer_box {
    width: 210px;
    display: flex;
    flex-direction: column;
    padding-top: 8px;
}

.footer_box>button {
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    color: rgb(178, 178, 178);
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin: 4px 0;
}

.footer_box>a {
    text-decoration: none;
    color: rgb(178, 178, 178);
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin: 4px 0;
}

.footer_box button:hover {
    text-decoration: underline;
}

.footer_box a:hover {
    text-decoration: underline;
}

.footer_links {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(159, 159, 159);
    padding: 13px 50px 0 50px;
    font-size: 13px;
}

.call {
    display: flex;
    flex-direction: column;
    margin: 7px 0;
}

.call a {
    margin-left: 20px;
    text-decoration: none;
}

.call p {
    margin-left: 20px;
    text-decoration: none;
}

.first {
    width: 240px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.first h1 {
    background: -webkit-linear-gradient(#ffc232, rgb(97, 97, 97));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 7px;
    font-weight: 700;
    font-size: 35px;
    display: flex;
    align-items: center;
}

.tarmoqlar {
    width: 100%;
    display: flex;
    align-items: center;
}

.tarmoqlar a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6px;
    background-color: yellow;
    background: linear-gradient(#f7b51d, #333);
    cursor: pointer;
}

.tarmoqlar a:nth-child(1) {
    margin-left: 19px;
}

.tarmoqlar>a>svg {
    font-size: 20px;
    color: #fff;
}

@media (max-width: 470px) {
    .first {
        width: 100%;
        align-items: center;
    }

    .call {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 7px 0;
    }

    .call p {
        text-align: center;
    }

    .tarmoqlar {
        justify-content: center;
    }

    .tarmoqlar a {
        margin-left: 10px;
    }

    .tarmoqlar a:nth-child(1) {
        margin-left: 0px;
    }

    .footer_links p {
        text-align: center;
    }
}